@import 'scss';

.notificationsWrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: $large;
  color: $secondaryGrey;
}
