@import 'scss';

.todo {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid $primaryGrey;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;

  &:hover {
    transform: translateX(20px);
  }
}

.archived {
  @extend .todo;
  background-color: rgb(239, 239, 239);
  border-radius: 1rem;
  opacity: 0.4;
}

.checkboxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .checkbox {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid $secondaryGrey;
    background-color: transparent;
  }

  .checked {
    @extend .checkbox;
    background-color: $purple;
  }
}

.todoContent {
  display: flex;
  flex-direction: column;
  flex: 8;

  h2 {
    color: $black;
    font-size: $large;
  }

  p {
    color: $secondaryGrey;
    font-size: $regular;
  }
}

.date {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: $regular;
  color: $secondaryGrey;
  margin-top: 0.5rem;
}

.urgentTask {
  color: $red;
}

.removeIcons {
  flex: 1;

  svg {
    font-size: 1.6rem;
    color: $secondaryGrey;
  }

  .deleteIcon {
    color: $red;
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.8rem;

  strong {
    color: $black;
    font-weight: bold;
  }

  button {
    width: fit-content;
    border-radius: 1rem;
    background-color: transparent;
    border: 1px solid $primaryGrey;
    font-size: $regular;
    color: $secondaryGrey;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:first-child {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    & + .filledButton {
      background-color: $red;
      color: $white;
      border-color: transparent;
    }
  }
}
